*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}
:root{
    --text-color: #D45113;
    --main-color: #813405;
    --bg-color: #EFCB68;
    
    --big-font: 4.5rem;
    --h4-font: 1.6rem;
    --p-font: 1.1rem;
}
body{
    color: var(--text-color);
    background-color: #c3baba;
    height:70vh;
	width:100;
	background-size: cover;
}
.heading{
    text-align: center;
    font-size: 4rem;
    color: #813405;
    padding: 1rem;
    margin: 2rem 0;
}
span{
    color: #D45113;
}
.about .row{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .video-container{
    flex: 1 1 30rem;
    position: relative;
}
.about .row .video-container video{
    width: 100%;
    border: 1rem solid #D45113;
    height: 100%;
    object-fit: cover;
}
.about .row .video-container h3{
    position: absolute;
    top:50%; transform: translateY(-50%);
    font-size: 4rem;
    color: #D45113;
    background: #D45113;
    width: 100%;
    padding: 1rem 1rem;
    text-align: left;
    mix-blend-mode: screen;
}
.about .row .content{
    flex: 1 1 40rem;
    position: right;
    color: #813405;
}
.about .row .content p{
    font-size: 1.5rem;
    color: #813405
    padding (5rem 0);
    padding-top: 1rem;
    line-height: 1.5;
}